<html>
<head>
    <title>React App Demo</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
</head>

<body>

<div id="root"></div>
<script type="text/babel">
    // define your sub components here
     const ItemList = (props) => {
       const bullets = props.items.map((item) =>{
         return <li onClick={props.handleClick} key={item._id}>{item.artist}</li>
       });
       return <ul>{bullets}</ul>
     }

     const IteamDetail = (props) =>{
       return <div>
         <h3>Iteam details</h3>
       
            <form>
              Artist:<input onChange={props.handleEdit} type = "text" name ="artist" value={props.item.artist || ""} /><br/>
              Album:<input onChange={props.handleEdit} type = "text" name ="album" value={props.item.album || ""} /><br/>
              Year:<input onChange={props.handleEdit} type = "text" name ="year" value={props.item.year || ""} /><br/>
              Genre:<input onChange={props.handleEdit} type = "text" name ="genre" value={props.item.genre || ""} /> <br/>
            </form>
            <button onClick={props.handleClear}>Clear</button> 
            <button onClick={props.handleDelete}>delete</button> 
         </div>
     }
    class App extends React.Component{
      constructor(props){
          super(props);
          // data from the server
          this.state = {
            items: {{{ artist }}},
            currentItem: { } // current item
          };

          // bind application state to click handler
          this.selectItem = this.selectItem.bind(this);
          this.handleClear=this.handleClear.bind(this);
          this.handleEdit=this.handleEdit.bind(this);
          this.handleDelete=this.handleDelete.bind(this);
       }
       handleDelete() {
         console.log('delete me dude')
         fetch(`/api/delete/${this.state.currentItem._id}`)
           .then((response) => {
          return response.json();
          })
        .then((result) => {
         console.log(result) 
         })
  .catch(err => console.log(err))
        
      }
      handleEdit(e) {
        console.log(e.target.name)
        console.log(e.target.value)
        let newItem = this.state.currentItem;
        newItem[e.target.name] = e.target.value;
        this.setState({currentItem: newItem});

      }

      handleClear (){
        this.setState({currentItem: {}})
      }
      // handle list item clicked
      selectItem(event) {
        // event.target is the HTML item clicked
        
        const found = this.state.items.find((item) =>{
          return item.artist === event.target.innerText
        })
        this.setState({currentItem:found})
      }
     

      render() {
        // render app UI elements
        return (
          <div>
          <h2>record labels </h2>
          <ItemList items={this.state.items} handleClick={this.selectItem} />
          <hr />
          <IteamDetail item={this.state.currentItem} 
          handleClear={this.handleClear}
          handleEdit={this.handleEdit}
          handleDelete={this.handleDelete}
          />
          </div>
          );
      }
    }

    ReactDOM.render(<App />, document.getElementById('root'));
</script>
</body>
</html>